<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.students.mapper.StudentsorgMapper" >
  <resultMap id="BaseResultMap" type="com.students.bean.Studentsorg" >
    <id column="ORG_ID" property="orgId" jdbcType="INTEGER" />
    <result column="STU_ID" property="stuId" jdbcType="VARCHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="ORG_DUTY" property="orgDuty" jdbcType="VARCHAR" />
    <result column="ORG_BEGIN" property="orgBegin" jdbcType="DATE" />
    <result column="ORG_END" property="orgEnd" jdbcType="DATE" />
    <result column="ORG_HONOR" property="orgHonor" jdbcType="VARCHAR" />
    <result column="ORG_CLASS" property="orgClass" jdbcType="VARCHAR" />
    <result column="STU_NAME" property="stuName" jdbcType="VARCHAR" />
    <result column="ORG_TYPE" property="orgType" jdbcType="VARCHAR" />
    <result column="SUBMIT_DATE" property="submitDate" jdbcType="TIMESTAMP" />
    <result column="REVIEWER" property="reviewer" jdbcType="VARCHAR" />
    <result column="REVIEW_DATE" property="reviewDate" jdbcType="TIMESTAMP" />
    <result column="REASON" property="reason" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.students.bean.Studentsorg" extends="BaseResultMap" >
    <result column="ORG_INTRO" property="orgIntro" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORG_ID, STU_ID, ORG_NAME, ORG_DUTY, ORG_BEGIN, ORG_END, ORG_HONOR, ORG_CLASS, STU_NAME, 
    ORG_TYPE, SUBMIT_DATE, REVIEWER, REVIEW_DATE, REASON, STATUS
  </sql>
  <sql id="Blob_Column_List" >
    ORG_INTRO
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.students.bean.StudentsorgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from studentsorg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.students.bean.StudentsorgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from studentsorg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from studentsorg
    where ORG_ID = #{orgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from studentsorg
    where ORG_ID = #{orgId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.students.bean.StudentsorgExample" >
    delete from studentsorg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.students.bean.Studentsorg" >
    insert into studentsorg (ORG_ID, STU_ID, ORG_NAME, 
      ORG_DUTY, ORG_BEGIN, ORG_END, 
      ORG_HONOR, ORG_CLASS, STU_NAME, 
      ORG_TYPE, SUBMIT_DATE, REVIEWER, 
      REVIEW_DATE, REASON, STATUS, 
      ORG_INTRO)
    values (#{orgId,jdbcType=INTEGER}, #{stuId,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, 
      #{orgDuty,jdbcType=VARCHAR}, #{orgBegin,jdbcType=DATE}, #{orgEnd,jdbcType=DATE}, 
      #{orgHonor,jdbcType=VARCHAR}, #{orgClass,jdbcType=VARCHAR}, #{stuName,jdbcType=VARCHAR}, 
      #{orgType,jdbcType=VARCHAR}, #{submitDate,jdbcType=TIMESTAMP}, #{reviewer,jdbcType=VARCHAR}, 
      #{reviewDate,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{orgIntro,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.students.bean.Studentsorg" >
    insert into studentsorg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="stuId != null" >
        STU_ID,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="orgDuty != null" >
        ORG_DUTY,
      </if>
      <if test="orgBegin != null" >
        ORG_BEGIN,
      </if>
      <if test="orgEnd != null" >
        ORG_END,
      </if>
      <if test="orgHonor != null" >
        ORG_HONOR,
      </if>
      <if test="orgClass != null" >
        ORG_CLASS,
      </if>
      <if test="stuName != null" >
        STU_NAME,
      </if>
      <if test="orgType != null" >
        ORG_TYPE,
      </if>
      <if test="submitDate != null" >
        SUBMIT_DATE,
      </if>
      <if test="reviewer != null" >
        REVIEWER,
      </if>
      <if test="reviewDate != null" >
        REVIEW_DATE,
      </if>
      <if test="reason != null" >
        REASON,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="orgIntro != null" >
        ORG_INTRO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgDuty != null" >
        #{orgDuty,jdbcType=VARCHAR},
      </if>
      <if test="orgBegin != null" >
        #{orgBegin,jdbcType=DATE},
      </if>
      <if test="orgEnd != null" >
        #{orgEnd,jdbcType=DATE},
      </if>
      <if test="orgHonor != null" >
        #{orgHonor,jdbcType=VARCHAR},
      </if>
      <if test="orgClass != null" >
        #{orgClass,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null" >
        #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="submitDate != null" >
        #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewer != null" >
        #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="reviewDate != null" >
        #{reviewDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="orgIntro != null" >
        #{orgIntro,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.students.bean.StudentsorgExample" resultType="java.lang.Integer" >
    select count(*) from studentsorg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update studentsorg
    <set >
      <if test="record.orgId != null" >
        ORG_ID = #{record.orgId,jdbcType=INTEGER},
      </if>
      <if test="record.stuId != null" >
        STU_ID = #{record.stuId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgName != null" >
        ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgDuty != null" >
        ORG_DUTY = #{record.orgDuty,jdbcType=VARCHAR},
      </if>
      <if test="record.orgBegin != null" >
        ORG_BEGIN = #{record.orgBegin,jdbcType=DATE},
      </if>
      <if test="record.orgEnd != null" >
        ORG_END = #{record.orgEnd,jdbcType=DATE},
      </if>
      <if test="record.orgHonor != null" >
        ORG_HONOR = #{record.orgHonor,jdbcType=VARCHAR},
      </if>
      <if test="record.orgClass != null" >
        ORG_CLASS = #{record.orgClass,jdbcType=VARCHAR},
      </if>
      <if test="record.stuName != null" >
        STU_NAME = #{record.stuName,jdbcType=VARCHAR},
      </if>
      <if test="record.orgType != null" >
        ORG_TYPE = #{record.orgType,jdbcType=VARCHAR},
      </if>
      <if test="record.submitDate != null" >
        SUBMIT_DATE = #{record.submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reviewer != null" >
        REVIEWER = #{record.reviewer,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewDate != null" >
        REVIEW_DATE = #{record.reviewDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reason != null" >
        REASON = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.orgIntro != null" >
        ORG_INTRO = #{record.orgIntro,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update studentsorg
    set ORG_ID = #{record.orgId,jdbcType=INTEGER},
      STU_ID = #{record.stuId,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      ORG_DUTY = #{record.orgDuty,jdbcType=VARCHAR},
      ORG_BEGIN = #{record.orgBegin,jdbcType=DATE},
      ORG_END = #{record.orgEnd,jdbcType=DATE},
      ORG_HONOR = #{record.orgHonor,jdbcType=VARCHAR},
      ORG_CLASS = #{record.orgClass,jdbcType=VARCHAR},
      STU_NAME = #{record.stuName,jdbcType=VARCHAR},
      ORG_TYPE = #{record.orgType,jdbcType=VARCHAR},
      SUBMIT_DATE = #{record.submitDate,jdbcType=TIMESTAMP},
      REVIEWER = #{record.reviewer,jdbcType=VARCHAR},
      REVIEW_DATE = #{record.reviewDate,jdbcType=TIMESTAMP},
      REASON = #{record.reason,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      ORG_INTRO = #{record.orgIntro,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update studentsorg
    set ORG_ID = #{record.orgId,jdbcType=INTEGER},
      STU_ID = #{record.stuId,jdbcType=VARCHAR},
      ORG_NAME = #{record.orgName,jdbcType=VARCHAR},
      ORG_DUTY = #{record.orgDuty,jdbcType=VARCHAR},
      ORG_BEGIN = #{record.orgBegin,jdbcType=DATE},
      ORG_END = #{record.orgEnd,jdbcType=DATE},
      ORG_HONOR = #{record.orgHonor,jdbcType=VARCHAR},
      ORG_CLASS = #{record.orgClass,jdbcType=VARCHAR},
      STU_NAME = #{record.stuName,jdbcType=VARCHAR},
      ORG_TYPE = #{record.orgType,jdbcType=VARCHAR},
      SUBMIT_DATE = #{record.submitDate,jdbcType=TIMESTAMP},
      REVIEWER = #{record.reviewer,jdbcType=VARCHAR},
      REVIEW_DATE = #{record.reviewDate,jdbcType=TIMESTAMP},
      REASON = #{record.reason,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.students.bean.Studentsorg" >
    update studentsorg
    <set >
      <if test="stuId != null" >
        STU_ID = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgDuty != null" >
        ORG_DUTY = #{orgDuty,jdbcType=VARCHAR},
      </if>
      <if test="orgBegin != null" >
        ORG_BEGIN = #{orgBegin,jdbcType=DATE},
      </if>
      <if test="orgEnd != null" >
        ORG_END = #{orgEnd,jdbcType=DATE},
      </if>
      <if test="orgHonor != null" >
        ORG_HONOR = #{orgHonor,jdbcType=VARCHAR},
      </if>
      <if test="orgClass != null" >
        ORG_CLASS = #{orgClass,jdbcType=VARCHAR},
      </if>
      <if test="stuName != null" >
        STU_NAME = #{stuName,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        ORG_TYPE = #{orgType,jdbcType=VARCHAR},
      </if>
      <if test="submitDate != null" >
        SUBMIT_DATE = #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reviewer != null" >
        REVIEWER = #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="reviewDate != null" >
        REVIEW_DATE = #{reviewDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null" >
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="orgIntro != null" >
        ORG_INTRO = #{orgIntro,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ORG_ID = #{orgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.students.bean.Studentsorg" >
    update studentsorg
    set STU_ID = #{stuId,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ORG_DUTY = #{orgDuty,jdbcType=VARCHAR},
      ORG_BEGIN = #{orgBegin,jdbcType=DATE},
      ORG_END = #{orgEnd,jdbcType=DATE},
      ORG_HONOR = #{orgHonor,jdbcType=VARCHAR},
      ORG_CLASS = #{orgClass,jdbcType=VARCHAR},
      STU_NAME = #{stuName,jdbcType=VARCHAR},
      ORG_TYPE = #{orgType,jdbcType=VARCHAR},
      SUBMIT_DATE = #{submitDate,jdbcType=TIMESTAMP},
      REVIEWER = #{reviewer,jdbcType=VARCHAR},
      REVIEW_DATE = #{reviewDate,jdbcType=TIMESTAMP},
      REASON = #{reason,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      ORG_INTRO = #{orgIntro,jdbcType=LONGVARCHAR}
    where ORG_ID = #{orgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.students.bean.Studentsorg" >
    update studentsorg
    set STU_ID = #{stuId,jdbcType=VARCHAR},
      ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ORG_DUTY = #{orgDuty,jdbcType=VARCHAR},
      ORG_BEGIN = #{orgBegin,jdbcType=DATE},
      ORG_END = #{orgEnd,jdbcType=DATE},
      ORG_HONOR = #{orgHonor,jdbcType=VARCHAR},
      ORG_CLASS = #{orgClass,jdbcType=VARCHAR},
      STU_NAME = #{stuName,jdbcType=VARCHAR},
      ORG_TYPE = #{orgType,jdbcType=VARCHAR},
      SUBMIT_DATE = #{submitDate,jdbcType=TIMESTAMP},
      REVIEWER = #{reviewer,jdbcType=VARCHAR},
      REVIEW_DATE = #{reviewDate,jdbcType=TIMESTAMP},
      REASON = #{reason,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER}
    where ORG_ID = #{orgId,jdbcType=INTEGER}
  </update>
</mapper>